{% extends 'base.html.twig' %}
{% block title %}
    Czat
{% endblock %}
{% block body %}
<div class="alert alert-info">
    <h2>Jesteś zalogowany jako {{ user }}</h2>
    <form method="POST" action="{{ path('logout') }}">
        <button class="btn btn-dark" type="submit">Wyloguj</button>
    </form>
    Twój nick to {{ nickname }}
</div>
<div class="alert alert-info">
    <h3>Napisz coś na czacie</h3>
    <form method="POST" action="{{ path('send') }}">
        Wprowadź treść wiadomości: <input type="text" class="form-control" name="description">
        <button class="btn btn-info" type="submit">Wyślij</button><br>
    </form>
</div>

{% if acceptedMessages == null %}
    <h4><p class="text-light">Brak wiadomości na czacie</p></h4>
{% else %}
    {% if user == "uczestnik" %}
        {% if infoMessages != null %}
            {% for infoMessage in infoMessages %}
                {% if infoMessage.info == "accept" %}
                <div class="alert alert-success">
                    <p class="text-success">Zaakceptowana: {{ infoMessage.description }}, z dnia -
                        {{ infoMessage.inputdate }}</p>
                    <form method="POST" action="{{ path('readAccepted') }}">
                        <button class="btn btn-success" type="submit" name="id" value="{{ infoMessage.id }}">Ok</button>
                    </form>
                </div>
                {% elseif infoMessage.info == "decline" %}
                <div class="alert alert-danger">
                    <p class="text-danger"><b>Odrzucona:</b> {{ infoMessage.description }}, z dnia -
                        {{ infoMessage.inputdate }}</p>
                    <form method="POST" action="{{ path('readDeclined') }}">
                        <button class="btn btn-danger" type="submit" name="id" value="{{ infoMessage.id }}">Ok</button>
                    </form>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
    <div class="row">
        <div class="col">
            <h3><p class="text-dark">Okno czatu:</p></h3>
            <table class="table table-sm table-borderless"><thead class="thead-dark"><tr><th>Czat</th></tr></thead><tbody style="display: block; height: 300px; overflow-y: scroll">
                {% for acceptedMessage in acceptedMessages %}
                    <tr>
                        <td>{{ acceptedMessage.inputdate }} - </td>
                        <td><b>{{ acceptedMessage.author }} :</b></td>
                        <td>{{ acceptedMessage.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endif %}
{% if user == "uczestnik" %}
    <div class="col">
    {% if myMessages == null %}
        <h4><p class="text-dark">Brak wiadomości oczekujących</p></h4>
    {% else %}
        <h3><p class="text-dark">Twoje wiadomości oczekujące na opublikowanie</p></h3>
        <table class="table table-striped table-responsive"><thead class="thead-dark"><tr><th>Treść</th><th>Autor</th><th>Data dodania</th><th>Status</th></tr></thead><tbody>
            {% for myMessage in myMessages %}
                <td>{{ myMessage.description }}</td>
                <td><b>{{ myMessage.author }}<b></td>
                <td>{{ myMessage.inputdate }}</td>
                <td>{{ myMessage.status}}</td>
                </tr>
            {% endfor %}</tbody>
        </table>
    {% endif %}
    </div>
{% elseif user == "moderator" %}
    <div class="col">
    {% if newMessages == null %}
        <h4><p class="text-dark">Brak wiadomości oczekujących</p></h4>
    {% else %}
        <h3><p class="text-dark">Wiadomości oczekujące na opublikowanie</p></h3>
        <table class="table table-striped table-fixed"><thead class="thead-dark"><tr><th>Treść</th><th>Autor</th><th>Data dodania</th><th>Status</th></tr></thead><tbody>
            {% for newMessage in newMessages %}
                <td>{{ newMessage.description }}</td>
                <td>{{ newMessage.author }}</td>
                <td>{{ newMessage.inputdate }}</td>
                <td>{{ newMessage.status}}</td>
                <form method="POST" action="{{ path('accept') }}">
                    <td><button type="submit" name="id" value="{{ newMessage.id }}">Akceptuj</button></td>
                </form>
                <form method="POST" action="{{ path('decline') }}">
                    <td><button type="submit" name="id" value="{{ newMessage.id }}">Odrzuć</button></td>
                </form>
                </tr>
            {% endfor %}</tbody>
        </table>
    </div>
    {% endif %}
{% endif %}
</div>

{% endblock %}
